
<div class="example-container">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Giro:" value="1">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Buque</mat-label>
    <mat-select>
      <mat-option>None</mat-option>
      <mat-option *ngFor="let buque of buques" [value]="buque.nombre">{{buque.nombre}}</mat-option>
    </mat-select>
  </mat-form-field>

  
  <mat-form-field>
    <input matInput placeholder="C/ENT">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="C/SAL">
  </mat-form-field>
</div>
