<h1 mat-dialog-title>Agregar Nuevo</h1>
<mat-dialog-content>
	<p>
    {{title}}
	</p>
</mat-dialog-content>
<div mat-dialog-content *ngIf="title=='Giro'">
  <mat-form-field >
    <input matInput placeholder="Muelle" [(ngModel)]="local_data.name">
  </mat-form-field>
  <mat-form-field >
    <input matInput placeholder="Sector" [(ngModel)]="local_data.name2">
  </mat-form-field>
</div>
<div mat-dialog-content *ngIf="title=='Puerto'">
  <mat-form-field >
    <input matInput placeholder="Puerto" [(ngModel)]="local_data.name">
  </mat-form-field>
  <mat-form-field >
    <input matInput placeholder="Pais" [(ngModel)]="local_data.name2">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">Add</button>
  <button mat-button (click)="onNoClick()" mat-flat-button color="warn">Cancel</button>
</div>
