<!-- dialog-box.component.html -->
<h1 mat-dialog-title>Agregar Nuevo</h1>
<mat-dialog-content>
	<p>
    {{titleA}}
	</p>
</mat-dialog-content>
<div mat-dialog-content>
  <mat-form-field >
    <input matInput [(ngModel)]="local_data.name">
  </mat-form-field>
  <ng-template #elseTemplate>
    Sure to delete <b>{{local_data.name}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">Add</button>
  <button mat-button (click)="onNoClick()" mat-flat-button color="warn">Cancel</button>
</div>
