
<mat-progress-bar mode="indeterminate" *ngIf="operaciones===null | async"></mat-progress-bar>
<mat-card class="example-card" *ngIf="giro_id!=0">
  <mat-grid-list cols="3" rowHeight="2:1" max-width= "600px">
  <mat-grid-tile class="mat-grid-tile1">MERCADERIA</mat-grid-tile>
  <mat-grid-tile class="mat-grid-tile1">TNS</mat-grid-tile>
  <mat-grid-tile class="mat-grid-tile1">TIPO</mat-grid-tile>
  <div class="grid">
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>Mercaderia</mat-label>
      <select matNativeControl  name="Mercaderia" [(ngModel)]="impo.mercaderia"(change)="navigateTo($event.target.value)">
        <option value="" selected></option>
        <option value="AgregarMercaderia">*AGREGAR NUEVO*</option>
        <option *ngFor="let mercaderia of mercaderias" [value]="mercaderia.tipo">
          {{mercaderia.tipo}}
        </option>
      </select>
    </mat-form-field>
  </mat-grid-tile>
    <mat-grid-tile >
      <mat-form-field class="example-full-width" >
      <input matInput placeholder="TNS" [(ngModel)]="impo.tns">
    </mat-form-field>
  </mat-grid-tile >
  <mat-grid-tile>
    <mat-form-field >
      <mat-label>Tipo</mat-label>
      <select matNativeControl  name="Tipo" [(ngModel)]="impo.tipo" (change)="navigateTo($event.target.value)">
        <option value="" selected></option>
        <option value="AgregarTipo">*AGREGAR NUEVO*</option>
        <option *ngFor="let tipo of tipos" [value]="tipo.tipo">
          {{tipo.tipo}}
        </option>
      </select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field >
      <mat-label>Mercaderia</mat-label>
      <select matNativeControl  name="Mercaderia" [(ngModel)]="expo.mercaderia"(change)="navigateTo($event.target.value)">
        <option value="" selected></option>
        <option value="AgregarMercaderia">*AGREGAR NUEVO*</option>
        <option *ngFor="let mercaderia of mercaderias" [value]="mercaderia.tipo">
          {{mercaderia.tipo}}
        </option>
      </select>
    </mat-form-field >
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field class="example-full-width" >
    <input matInput placeholder="TNS" [(ngModel)]="expo.tns">
  </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
  <mat-form-field >
    <mat-label>Tipo</mat-label>
    <select matNativeControl  name="Tipo" [(ngModel)]="expo.tipo" (change)="navigateTo($event.target.value)">
      <option value="" selected></option>
      <option value="AgregarTipo">*AGREGAR NUEVO*</option>
      <option *ngFor="let tipo of tipos" [value]="tipo.tipo">
        {{tipo.tipo}}
      </option>
    </select>
  </mat-form-field>
  </mat-grid-tile>
</div>
  </mat-grid-list>
  <mat-list>
    <mat-divider></mat-divider>
    <mat-list-item *ngIf="getTotal(impo.tns,expo.tns)!=null"  class="container">Total: &nbsp;&nbsp; {{getTotal(impo.tns,expo.tns)}} <span matSuffix>.00</span>

      <button mat-raised-button color="primary"  (click)="saveOperation(impo,expo)" class="btn-holder" >CARGAR OPERACIONES
      </button></mat-list-item>

    <mat-divider></mat-divider>
  </mat-list>

</mat-card>
