<mat-horizontal-stepper>
  <mat-step label="Solicitud De Giro">
    <app-form-entrada></app-form-entrada>
<p></p>
<div class="box">
<div class="box1">
  <app-operaciones></app-operaciones>
</div>
<div class="box2">
  <app-sub-form-buque></app-sub-form-buque>
</div>
</div>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Carga">

    <app-form-carga></app-form-carga>
    <app-form-descarga></app-form-descarga>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>

</mat-step>
<mat-step>
  <ng-template matStepLabel>Done</ng-template>
  You are now done.
  <div>
    <button mat-button matStepperPrevious>Back</button>
  </div>
</mat-step>

</mat-horizontal-stepper>

