
.inputSmall{
  width: 8%;
  position: center;
  text-align: center;
}


.formEntradas{
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  width: 500px;
}

.box {
  display: flex;
}

.box1 {
  flex: 1 1 auto;
}

.box2 {
  flex: 1 1 auto;
}
