<mat-horizontal-stepper>
  <mat-step label="Solicitud De Giro">
    <mat-progress-bar mode="indeterminate" *ngIf="buques == null && agencias == null"></mat-progress-bar>
<div *ngIf="entradaInEdition!=null ">
<mat-form-field  appearance="outline" class="inputSmall">
  <input matInput placeholder="Giro"  [(ngModel)]="entradaInEdition.giro"  required>
</mat-form-field >
&nbsp; &nbsp; &nbsp;
<mat-form-field  appearance="outline">
  <mat-label>Nombre del Buque</mat-label>
  <select matNativeControl (change)="navigateTo($event.target.value,entradaInEdition.id)" [(ngModel)]="buqueSelect">
    <option value=""></option>
    <option value="AgregarBuque">*AGREGAR NUEVO*</option>
    <option *ngFor="let buque of buques" [value]="buque.nombre" >
      {{buque.nombre}}
    </option>
  </select>
</mat-form-field>
&nbsp; &nbsp; &nbsp;
<mat-form-field appearance="outline">
  <mat-label>Agencia Maritima</mat-label>
  <select matNativeControl (change)="navigateTo($event.target.value,entradaInEdition.id)" [(ngModel)]="entradaInEdition.agencia">
    <option value=""></option>
    <option value="AgregarAgencia">*AGREGAR NUEVO*</option>
    <option *ngFor="let agencia of agencias" [value]="agencia.agencia" >
      {{agencia.agencia}}
    </option>
  </select>
</mat-form-field>
&nbsp; &nbsp; &nbsp;
<mat-form-field appearance="outline">
  <mat-label>Procedencia</mat-label>
  <select matNativeControl [(ngModel)]="entradaInEdition.procedencia" name="PuertoProcendencia">
    <option value="" selected></option>
    <option *ngFor="let puerto of puertos" [value]="puerto.puerto">
      {{puerto.puerto}}
    </option>
  </select>
</mat-form-field>
&nbsp; &nbsp; &nbsp;
<mat-form-field appearance="outline">
  <mat-label>Destino</mat-label>
    <select matNativeControl [(ngModel)]="entradaInEdition.destino" name="PuertoDestino" >
      <option value="" selected ></option>
      <option *ngFor="let puerto1 of puertos" [value]="puerto1.puerto" >
        {{puerto1.puerto}}
      </option>
    </select>
  </mat-form-field>
  <div></div>
  <mat-form-field appearance="outline">
    <input matInput [ngxMatDatetimePicker]="pickerEntrada" placeholder="Fecha de Entrada" [(ngModel)]="entradaInEdition.entrada" [formControl]="date">
    <mat-datepicker-toggle matSuffix [for]="pickerEntrada"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #pickerEntrada></ngx-mat-datetime-picker>
</mat-form-field>
  &nbsp; &nbsp; &nbsp;
  <mat-form-field class="inputSmall" appearance="outline">
    <input matInput placeholder="C/ ENT ">
  </mat-form-field>
  &nbsp; &nbsp; &nbsp;
  <mat-form-field appearance="outline">
    <mat-label>Muelle</mat-label>
    <select matNativeControl [(ngModel)]="entradaInEdition.muelle" name="Muelle">
      <option value="" selected></option>
      <option *ngFor="let giro of giros" [value]="giro.muelle">
        {{giro.muelle}}
      </option>
    </select>
  </mat-form-field>
  &nbsp; &nbsp; &nbsp;
  <mat-form-field appearance="outline">
    <mat-label>Trafico</mat-label>
    <select matNativeControl [(ngModel)]="entradaInEdition.trafico" name="Trafico">
      <option value="" selected></option>
      <option *ngFor="let trafico of traficos" [value]="trafico.trafico">
        {{trafico.trafico}}
      </option>
    </select>
  </mat-form-field >
   <div></div>
   <mat-form-field appearance="outline">
    <input matInput [ngxMatDatetimePicker]="pickerSalida" placeholder="Fecha de Salida" [(ngModel)]="entradaInEdition.salida" [formControl]="date">
    <mat-datepicker-toggle matSuffix [for]="pickerSalida"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #pickerSalida></ngx-mat-datetime-picker>
</mat-form-field>
  &nbsp; &nbsp; &nbsp;
  <mat-form-field class="inputSmall" appearance="outline">
    <input matInput placeholder="C/SAL" [(ngModel)]="entradaInEdition.cal_sal">
   </mat-form-field>
   &nbsp; &nbsp; &nbsp;
   <mat-form-field appearance="outline">
    <input matInput placeholder="Nº Pasavante" [(ngModel)]="entradaInEdition.nroPasavante" required>
  </mat-form-field>

</div>

<div class="box">
<div class="box1">
  <app-operaciones></app-operaciones>
</div>
<div class="box2">

<mat-card class="example-card" >
  <mat-grid-list cols="3" rowHeight="2:1" max-width= "600px">
  <mat-grid-tile class="mat-grid-tile1">ORDEN</mat-grid-tile>
  <mat-grid-tile class="mat-grid-tile1">NOMBRE</mat-grid-tile>
  <mat-grid-tile class="mat-grid-tile1">IMO</mat-grid-tile>
  <div *ngIf="buqueSelect!=null">
  <mat-grid-tile >{{buqueSelect.orden}}</mat-grid-tile>
  <mat-grid-tile >{{buqueSelect.nombre}}</mat-grid-tile>
  <mat-grid-tile >{{buqueSelect.imo}}</mat-grid-tile></div>
  </mat-grid-list>

</mat-card>

</div>
</div>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Carga">

    <app-form-carga></app-form-carga>
    <app-form-descarga></app-form-descarga>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>

</mat-step>
<mat-step>
  <ng-template matStepLabel>Done</ng-template>
  You are now done.
  <div>
    <button mat-button matStepperPrevious>Back</button>
  </div>
</mat-step>

</mat-horizontal-stepper>

