<mat-card>
  <div class="head-content-card">
    <h2>Buques</h2>
    <button class="buttonAdd" mat-raised-button color="primary"
      [routerLink]="['AgregarBuque']">Agregar
      Nuevo</button>
  </div>
  <mat-card >
    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
  <form *ngIf="buques!=null">
   <mat-form-field  appearance="outline" class="options">
    <mat-label>Nombre del Buque</mat-label>
    <select matNativeControl [(ngModel)]="buqueInEdition.orden " name="buque" (change)="navigateTo($event.target.value)" >
      <option value=""></option>
      <option value="AgregarBuque">*AGREGAR NUEVO*</option>
      <option *ngFor="let buque of buques" [value]="buque.orden" >
        {{buque.nombre}}
      </option>
    </select>
  </mat-form-field>
  <div *ngIf="buqueInEdition!=null && buqueSelect!=null">
    <p>BANDERA:  {{getBanderaName(buqueSelect.bandera)}}</p>
    <p>IMO:  {{getBanderaName(buqueSelect.imo)}}</p>

  </div>
  </form>
  </mat-card>


<p></p>
</mat-card>




