<mat-card>
  <div class="head-content-card">
    <h2>Buques</h2>
    <button class="buttonAdd" mat-raised-button color="primary"
      [routerLink]="['/cgpds/AgregarBuque/null']">Agregar
      Nuevo</button>
  </div>
  <mat-card >
    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
  <form *ngIf="buques!=null">
    <form class="example-form">
      <mat-form-field  appearance="outline" class="inputGrid" (click)=cargarDatosBuque()>
        <mat-label>Nombre del Buque</mat-label>
        <select matNativeControl [(ngModel)]="buqueOrd" name="Buque">
          <option value=""></option>
          <option *ngFor="let buque of buques" [value]="buque.orden" >
            {{buque.nombre}}
          </option>
        </select>
      </mat-form-field>
      <div *ngIf="buqueInEdition!=null">
      <table class="example-full-width" cellspacing="0"><tr>
        <td>Bandera: {{getBanderaName(buqueInEdition.bandera)}}</td>
        <td>Arboladura: {{getArboladuraName(buqueInEdition.arboladura)}}</td>
        <td>Imo: {{buqueInEdition.imo}}</td>
      </tr></table>
    </div>
    </form>
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
    </mat-form-field>
    <div class="example-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
          <th mat-header-cell *matHeaderCellDef> {{column}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>

  </div>
  </form>
  </mat-card>


<p></p>
</mat-card>




