<mat-card>
  <div class="head-content-card">
    <h2>Buques</h2>
    <button class="buttonAdd" mat-raised-button color="primary"
      [routerLink]="['/cgpds/AgregarBuque/null']">Agregar
      Nuevo</button>
  </div>
  <mat-card >
    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
  <form *ngIf="buques!=null">
    <form class="example-form">
      <mat-form-field  appearance="outline" class="inputGrid" >
        <mat-label>Nombre del Buque</mat-label>
        <mat-select [(ngModel)]="buqueSelect" name="buque">
          <mat-option *ngFor="let buque of buques" [value]="buque">
            {{buque.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <div class="example-card" *ngIf="vacio()">
      <mat-grid-list cols="8" rowHeight="8:2">{{cargarDatosBuque()}}
      <mat-grid-tile class="mat-grid-tile1">ORDEN</mat-grid-tile>
      <mat-grid-tile class="mat-grid-tile1">BANDERA</mat-grid-tile>
      <mat-grid-tile class="mat-grid-tile1">ARBOLADURA</mat-grid-tile>
      <mat-grid-tile class="mat-grid-tile1">IMO</mat-grid-tile>
      <mat-grid-tile class="mat-grid-tile1">ESLORA</mat-grid-tile>
      <mat-grid-tile class="mat-grid-tile1">MANGA</mat-grid-tile>
      <mat-grid-tile class="mat-grid-tile1">TRN</mat-grid-tile>
      <mat-grid-tile class="mat-grid-tile1">TRB</mat-grid-tile>

      <mat-grid-tile >{{buqueSelect.orden}}</mat-grid-tile>
      <mat-grid-tile >{{bandera.bandera}}</mat-grid-tile>
      <mat-grid-tile >{{arboladura.arboladura}}</mat-grid-tile>
      <mat-grid-tile >{{buqueSelect.imo}}</mat-grid-tile>
      <mat-grid-tile >{{buqueSelect.eslora}}</mat-grid-tile>
      <mat-grid-tile >{{buqueSelect.manga}}</mat-grid-tile>
      <mat-grid-tile >{{buqueSelect.trn}}</mat-grid-tile>
      <mat-grid-tile >{{buqueSelect.trb}}</mat-grid-tile>
    </mat-grid-list>

    <button class="buttonEdit" mat-mini-fab matTooltip="Editar"
    value="EditarBuque" (click)="navigateToEdits(buqueSelect.key)" color="primary">
          <mat-icon>edit</mat-icon>
        </button>
  </div>
  <div *ngIf="buqueSelect!=null">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
    </mat-form-field>
    <div class="example-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container  [matColumnDef]="column" *ngFor="let column of displayedColumns" >
          <th mat-header-cell *matHeaderCellDef class="mat-grid-tile1"> {{column}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>
    </div>
  </div>
  </form>
  </mat-card>


<p></p>
</mat-card>




