table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 10px;
  padding-right: 8px;
}
.example-container {
  height: 700px;
  width: 100%;
  overflow: auto;
}

.options{
  width: 200px;
  box-sizing: border-box;
  align-content: center;

}

.inputSmall{
  width: 120px;
  max-width: 120px;
  box-sizing: border-box;
}
.inputGrid{
  width: 180px;
  max-width: 200px;
  box-sizing: border-box;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

