<b>Login work</b>
<div class="span9">

  <div class="post clearfix">

    <h2>Licitaciones</h2>

  </div>
  <div class="span11">
    <div class="row-fluid info_box" style="padding:25px">

      <ul>

        <h4 style="text-transform:uppercase">Licitación N° 01-CGPDS/2019 Obra: "SERVICIO DE MANTENIMIENTO DE ESPACIOS VERDES - CGPDS"</h4>
        <li><strong>VALOR DEL PLIEGO:</strong> Sin costo</li>
        <li><strong>VISITA DE OBRA:</strong> En la sede del Consorcio de Gestión del Puerto de Dock Sud.</li>
        <li><strong>PRESENTACION DE OFERTAS:</strong> En la sede del Consorcio de Gestión del Puerto de Dock Sud o por correo electronico (adjunto pdf).</li>
        <li><strong>APERTURA DE SOBRES:</strong> El 19 de Febrero de 2020 en la sede del CGPBB</li>
        <li><strong>Email:</strong><a href="mailto:compras@puertodocksud.com"> compras@puertodocksud.com</a></li>
      </ul>
      <p></p>

    </div>
  </div>
