<!-- dialog-box.component.html -->
<h1 mat-dialog-title>Añadir :: <strong>{{action}}</strong></h1>
<div mat-dialog-content>
  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="{{action}} rubro" matInput [(ngModel)]="local_data.rubro">

  </mat-form-field>
  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="{{action}} empresa" matInput [(ngModel)]="local_data.empresa">
  </mat-form-field>

  <ng-template #elseTemplate>
    Sure to delete <b>{{local_data.rubro}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
