.fill-remaining-space {
  flex: 1 1 auto;

}

#footer {
  position: absolute;
  background-color: lightblue;
  display: flex;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 100px;
  color: black;
}

