
  <h4>{{title}}</h4>
  <button mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary"><mat-icon>add</mat-icon>&nbsp; &nbsp; &nbsp;Añadir</button>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <!-- mercaderia Column -->
    <ng-container matColumnDef="mercaderia" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="rows"> MERCADERIA </th>
      <td mat-cell *matCellDef="let element"> {{element.mercaderia.tipo}} </td>
      <td mat-footer-cell *matFooterCellDef> Total </td>
    </ng-container>
 <!-- tns Column -->
 <ng-container matColumnDef="tns">
  <th mat-header-cell *matHeaderCellDef  class="rows"> TNS </th>
  <td mat-cell *matCellDef="let element"> {{element.tns}} </td>
  <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
</ng-container>
    <!-- tipo Column -->
    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef  class="rows"> TIPO </th>
      <td mat-cell *matCellDef="let element"> {{element.tipo.tipo}} </td>
      <td mat-footer-cell *matFooterCellDef>  </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef  class="rows">&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;ACCION </th>
      <td mat-cell *matCellDef="let element" class="action-link" >
        <button class="buttonEdit" mat-mini-fab matTooltip="Editar" (click)="openDialog('Update',element)" color="primary">
          <mat-icon>edit</mat-icon>
        </button>
        &nbsp; &nbsp; &nbsp;
        <button mat-mini-fab matTooltip="Eliminar" (click)="openDialog('Delete',element)" color="primary">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
